.hide{
    display: none;
    height: 0;
    overflow: hidden;
    padding: 0 10px !important;
    margin: 0;
}
.item{
    width: 100%;
}

.head{
    display: flex;
    gap: 210px;
    background-color: rgb(121, 209, 211);
    margin: auto;
    padding: 14px;
    border-bottom: 1px solid rgb(122, 120, 120);
    color: white;    
    font-size: 1.5em;
}

.accor{
    border: 1px solid rgb(122, 120, 120);
    width: 70%;
    margin: auto;
}
.content{   
    margin: auto;
   border-bottom: 1px solid transparent;
   padding: 15px;
   box-sizing: border-box;
   background-color: rgb(242, 237, 237);
   transition: all 0.3s;
   font-size: 1em;
   
}
i{
    color: white;
    margin-right: 100px;
}
.active{
    transform: rotate(180deg);
}

i:hover{
    cursor: pointer;
}
h1{
    text-align: center;
    color: rgb(121, 209, 211)
}